.container-for-contact-us-page{
    margin: 0 auto;
    width: 1140px;
    padding: 60px 0px;
    font-family: 'Poppins', sans-serif;
}

.contact-us-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    margin-bottom: 100px;
}
.contact-us-box div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:  0.5px solid rgb(190, 184, 184);
    padding: 40px 0px;
    border-radius: 12px;
    margin: 0 10px;
    width: 30%;
    
}

.contact-us-box div:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.custom-icon{
    color: #035ded;
    font-size: x-large;
    margin-right: 10px;
    padding-bottom: 1rem ;

}
.contact-us-box div h3 {
    margin: 0 2px 0 0;
    font-weight: 600;
    color: #0d1536 !important  ;
}

.contact-us-box div p {
    margin: 0 0; 
    color: #6c757d !important;
}

.title-on-contact-page{
    text-align: center;
}
.title-on-contact-page h2{
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.title-on-contact-page p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 400;
}


/* css for description container */

.description-container {
    display: flex;
}

.description-in-support {
    flex: 65%; 
}

.get-in-touch-section{
    flex: 35%; 
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.get-in-touch-section h3 {
    font-weight: 600;
    color: #0d1536; /* Adjust text color */
    margin-bottom: 0.5rem; /* Adjust margin bottom */
}

.get-in-touch-section p {
    margin: 0.5rem 0; 
    color: #6c757d; 
    font-weight: 400; 
    line-height: 1.5;
}

.divider{
    border-bottom: 0.5px solid rgb(190, 184, 184);
    width: 100%;
    padding-bottom: 30px;
}